/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

body {
  font-weight: 400;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-style: normal;
  line-height: 1.5;
}

.font-white {
  color: #fff;
}

.font-light {
  color: #cacaca;
}

h1,
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

@media (min-width: 1440px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 18px;
}

@media (min-width: 1251px) {
  h2 {
    font-size: 38px;
  }
}

h3 {
  font-size: 16px;
}

@media (min-width: 1440px) {
  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
  }
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 1440px) {
  h4 {
    line-height: 27px;
  }
}

.text-1 {
  font-size: 16px;
}

.text-2 {
  font-size: 24px;
}

.text-3 {
  font-size: 32px;
}

.text-4 {
  font-size: 40px;
}

.text-5 {
  font-size: 48px;
}

.text-6 {
  font-size: 56px;
}

.text-7 {
  font-size: 64px;
}

.text-small {
  font-size: 12.8px;
  line-height: 19.2px;
}

.text-popular-track {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 19.2px;
}

body {
  position: relative;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 851px;
  background-image: url("../img/banner.png");
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .banner {
    height: 750px;
  }
}

.content {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
}

.container {
  width: 374px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 536px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 932px;
    padding: 0 30px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 120px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 78px;
}

@media (min-width: 992px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.nav__link {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #e0e0e0;
  text-decoration: none;
}

@media (min-width: 576px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo-img {
  margin-right: 16px;
}

.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding-bottom: 5px;
}

.site-menu__item {
  margin-right: 24px;
}

.site-menu__item:last-child {
  margin-right: 0;
}

@media (min-width: 576px) {
  .site-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search {
  padding-top: 20px;
  padding-bottom: 5px;
}

.search__input {
  width: 100%;
  padding: 5px 0 5px 10px;
  background: #3C3B3D;
  border: 0;
  border-radius: 50px;
  outline: 0ch;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .search__input {
    width: 248px;
  }
}

.search__input[placeholder] {
  color: #757575;
}

.page-description {
  text-align: center;
}

.page-description h1,
.page-description h2,
.page-description p {
  margin-bottom: 16px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .inputs {
    width: 570px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
}

.subscribe__input {
  width: 374px;
  height: 50px;
  margin-bottom: 24px;
  padding: 17px 0 17px 22px;
  background: transparent;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.subscribe__input[placeholder] {
  color: #fff;
}

.subscribe__btn {
  width: 374px;
  height: 57px;
  background: #34C176;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 13.3px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .subscribe__btn {
    width: 570px;
  }
}
/*# sourceMappingURL=styles.css.map */