body {
  position: relative;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 851px;

  background-image: url("../img/banner.png");
  background-position: center;
  background-size: cover;

  @media (min-width: 992px) {
    height: 750px;
  }
}

.content {
  position: relative;
  top: 0;
  right: 0;
  left: 0;

  width: 100vw;
}

.container {
  width: 374px;
  margin: 0 auto;

  @media (min-width: 576px) {
    width: 536px;
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    width: 720px;
    padding: 0 20px;
  }

  @media (min-width: 992px) {
    width: 932px;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    padding: 0 120px;
  }
}
