
.body {
  color: $font;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;

  background-color: #fff;
}

h1,h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  @media (min-width: 1200px) { font-size: 60px; }
}

h2 {
  font-size: 18px;
  @media (min-width: 1200px) { font-size: 38px; }
}
